<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Error al Registrar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="estilo.css">
</head>

<body>
  <p class="mb-0">¡Errores en el formulario¡</p>
            		<table>
            			<tr th:each="e : ${errores}">
            				<td th:text="${e}" />
            			</tr>
            		</table>
             		<form method="get" th:action="@{/ingresar}">
	                    <div class="form-group"><input type="submit" class="btn btn-primary" value="Regresar a Ingresar Alumno"></a></div>
	                </form>
</body>

</html>