<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>HTML</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="estilo.css">
</head>

<body>
  <p>Esta página web es una página HTML válida.</p>
  <h1 class="mt-4">Alumno Registrado con Exitot</h1>
               		<form method="get" th:action="@{/ingresar}">
	                    <div class="form-group"><input type="submit" class="btn btn-primary" value="Ingresar Otro Alumno"></a></div>
	                </form>
</body>
</html>